/* End Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.spacks {
  position: relative;
}
.spacks::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background: linear-gradient(135deg, var(--secondary-color-alt) 25%, transparent 25%),
  linear-gradient(225deg, var(--secondary-color-alt) 25%, transparent 25%);
  background-size: 35px 35px;
}
/* End Global Rules */
/* Start Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
/* End Scroll Bar */