/* Start Hero */
.hero {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding-top: var(--scetion-padding-top);
  height: 100vh;
  overflow: visible;
}
.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  width: 100%;
}
.hero-content .hero-text {
  position: relative;
  z-index: 2;
}
.hero-text h1 ,
.hero-text h2 {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--text-color-primary);
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  background: linear-gradient(90deg, var(--text-color-primary), var(--main-color), var(--primary-color));
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
  line-height: 1.1;
}
.hero-text h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 35px;
  color: var(--text-color-secondary);
}
.hero-text p {
  margin-bottom: 2.5rem;
  color: var(--text-color-secondary);
  font-weight: 300;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 600px;
}
.hero-text .btn-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.hero-text .btn-group .btn-hero {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 24px;
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  transition: var(--section-transition);
  box-shadow: 0 0 25px rgba(var(--rgb-main-color) / 50%);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 50px;
}
.hero-text .btn-group .btn-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s ease;
  z-index: -1;
}
.hero-text .btn-group .btn-hero:hover {
  color: var(--text-color-therd);
  box-shadow: 0 0 40px var(--main-color);
  transform: translateY(-5px);
}
.hero-text .btn-group .btn-hero:hover::before {
  width: 100%;
}
.hero-text .btn-group .btn-primary {
  background-color: var(--main-color);
  color: var(--text-color-therd);
  font-weight: 700;
}
.hero-text .btn-group .btn-primary:hover {
  background: transparent;
  color: var(--main-color);
}
.hero-text .btn-group .btn-primary::before {
  background-color: var(--text-color-therd);
}
/* Porofile */
.hero-content .profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.profile-container .profile-wrapper {
  position: relative;
  width: 450px;
  height: 450px;
  transform-style: preserve-3d;
  animation: float 6s ease-in-out infinite;
}
.particle-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: translateY(-20px) rotateX(5deg) rotateY(5deg);
  }
  50% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }
  75% {
    transform: translateY(-20px) rotateX(-5deg) rotateY(-5deg);
  }
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  border: 6px solid transparent;
  box-shadow: 0 0 50px var(--main-color),
  0 0 100px rgba(var(--rgb-main-color) / 50%),
  0 0 150px rgba(var(--rgb-main-color) / 30%);
  animation: glow 3s infinite alternate, morph 12s ease-in-out infinite;
  position: relative;
  z-index: 10;
  background: radial-gradient(var(--main-color), var(--secondary-color));
}
@keyframes glow {
  0% {
    box-shadow: 0 0 40px var(--main-color),
    0 0 80px rgba(var(--rgb-main-color) / 50%),
    0 0 120px rgba(var(--rgb-main-color) / 30%);
    border-color: var(--main-color);
  }
  100% {
    box-shadow: 0 0 60px var(--main-color),
    0 0 120px rgba(var(--rgb-main-color) / 70%),
    0 0 180px rgba(var(--rgb-main-color) / 50%);
    border-color: var(--primary-color)
  }
}
@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  33% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  66% {
    border-radius: 18% 82% 41% 59% / 59% 54% 46% 41%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

/* Respouncef Hero Section */
@media (max-width: 1199px) {
  .hero {
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding-top: calc(var(--scetion-padding-top) * 1.5);
    padding-bottom: calc(var(--scetion-padding-bottom) * 0.5);
    overflow: visible;
  }
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .hero-content .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .hero-text .btn-group {
    justify-content: center;
  }
  .profile-container .profile-wrapper {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text h2 {
    font-size: 1.5rem;
  }
  .hero-text p {
    font-size: 1.1rem;
  }
  .hero-text .btn-group  {
    flex-direction: column;
  }
  .profile-container .profile-wrapper {
    width: 280px;
    height: 280px;
  }
}
.particle {
  position: absolute;
  border-radius: 50%;
  background: var(--main-color);
  pointer-events: none;
  z-index: 5;
}
/* End Hero */